{% extends 'base.html' %}

{% block title %}
Main page
{% endblock %}

{% block content %}
    <div class="header-bar">
        <a href="{% url 'notes' %}">&#8592; Back</a>
    </div>
    <div class="container-fluid my-3 text-success">
        <h1 style="text-align:center; font-family:MV Boli;"> {{note.title}}</h1>
    </div>
    <br>
    <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <p style="font-size: 15pt">{{note.text}}</p>
    </div>
    <br>
    <div class="container-fluid my-3 " style="background-color: hsl(0.1turn, 50%, 90%)">
        <h4 style="text-align:center">#: {{note.tags}}</h4>
    </div>
    <div class="container-fluid">
        <p style="text-align:right">By {{note.author}} at {{note.created}}</p>
    </div>
{% endblock %}
